<div class = "topBox"> 
    <a href="/">Home</a> 
    <a href="/beers">Beers</a> 
    <a href="/randombeers">Random Beer</a>     
</div>

<div>
    <img class = "beerImg" src="images/beer.png"/> 
</div>
<footer id="footerBox"><span>Developed by Ironhack :)</span></footer>


      
 
