body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f7f9f9;
    margin: 0;
}


.topBox {
    background-color: #2081c3;
    border: #2081c3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    
}

.topBox a {
    color:#f7f9f9;
    text-decoration: none;

}

.beerImg {
    width: 400px;
    padding-top: 60px;
    padding-left: 170px;
}

.beersInside {
    width: 3%;

}

#footerBox {
    background-color:#0a2c42;
    border: #0a2c42;
    bottom: 0;
    position:absolute;
    width: 100%;
    padding-bottom: 10px;
    padding-top:10px;
    color:#f7f9f9;
}

#footerBox span {
    padding-left: 25px;
}


/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;

*/